
*.v2
*.cache
OlaMundo/OlaMundo/.vs/OlaMundo/v16/.suo
OlaMundo/OlaMundo/OlaMundo/bin/Debug/net5.0/OlaMundo.deps.json
*.dll
*.json
OlaMundo/OlaMundo/OlaMundo/bin/Debug/net5.0/OlaMundo.exe
*.pdb
OlaMundo/OlaMundo/OlaMundo/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
OlaMundo/OlaMundo/OlaMundo/obj/Debug/net5.0/apphost.exe
OlaMundo/OlaMundo/OlaMundo/obj/Debug/net5.0/OlaMundo.AssemblyInfo.cs
OlaMundo/OlaMundo/OlaMundo/obj/Debug/net5.0/OlaMundo.csproj.FileListAbsolute.txt
OlaMundo/OlaMundo/OlaMundo/obj/Debug/net5.0/OlaMundo.GeneratedMSBuildEditorConfig.editorconfig
OlaMundo/OlaMundo/OlaMundo/obj/OlaMundo.csproj.nuget.g.props
OlaMundo/OlaMundo/OlaMundo/obj/OlaMundo.csproj.nuget.g.targets
TesteVariavelConstante/.vs/TesteVariavelConstante/v16/.suo
TesteVariavelConstante/TesteVariavelConstante/bin/Debug/net5.0/TesteVariavelConstante.exe
TesteVariavelConstante/TesteVariavelConstante/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TesteVariavelConstante/TesteVariavelConstante/obj/Debug/net5.0/TesteVariavelConstante.AssemblyInfo.cs
TesteVariavelConstante/TesteVariavelConstante/obj/Debug/net5.0/TesteVariavelConstante.csproj.FileListAbsolute.txt
TesteVariavelConstante/TesteVariavelConstante/TesteVariavelConstante.csproj.user
TesteVariavelConstante/TesteVariavelConstante/obj/TesteVariavelConstante.csproj.nuget.g.targets
TesteVariavelConstante/TesteVariavelConstante/obj/TesteVariavelConstante.csproj.nuget.g.props
TesteVariavelConstante/TesteVariavelConstante/obj/Debug/net5.0/TesteVariavelConstante.GeneratedMSBuildEditorConfig.editorconfig
TesteVariavelConstante/TesteVariavelConstante/obj/Debug/net5.0/apphost.exe
.gitignore.txt
