
TesteVariavelConstante/TesteVariavelConstante/TesteVariavelConstante.csproj.user
*.cache
OlaMundo/OlaMundo/.vs/OlaMundo/v16/.suo
*.v2
*.json
*.dll
*.exe
*.pdb
OlaMundo/OlaMundo/OlaMundo/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
OlaMundo/OlaMundo/OlaMundo/obj/Debug/net5.0/OlaMundo.AssemblyInfo.cs
*.txt
*.editorconfig
OlaMundo/OlaMundo/OlaMundo/obj/OlaMundo.csproj.nuget.g.props
OlaMundo/OlaMundo/OlaMundo/obj/OlaMundo.csproj.nuget.g.targets
TesteVariavelConstante/TesteVariavelConstante/obj/TesteVariavelConstante.csproj.nuget.g.targets
TesteVariavelConstante/TesteVariavelConstante/obj/TesteVariavelConstante.csproj.nuget.g.props
TesteVariavelConstante/TesteVariavelConstante/obj/Debug/net5.0/TesteVariavelConstante.AssemblyInfo.cs
TesteVariavelConstante/TesteVariavelConstante/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TesteVariavelConstante/.vs/TesteVariavelConstante/v16/.suo
